body {
    margin: 0;
    padding: 0;

    /* Visual styling */
    background: #f0f0f0;
    font-family: system-ui, -apple-system, sans-serif;
}

div {
    margin: 15px 20px;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 15px;
}

#soften-btn {
    margin: 0;
    padding: 5px 25px;
    border: 2px solid #333;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    transition: all 0.075s linear;
}

#soften-btn:hover {
    background: #333;
    color: white;
    transform: scale(1.1)
}

#soften-btn:active {
    background: #979797;
    transform: scale(1.0)
}